<a href="/dashboard">&larr; Back</a>
<div class="admin-title">
  <h2>Add New Student</h2>
</div>

<form action="/add-student" method="POST">

  <label for="name"><b>Name</b></label>
  <input type="text" placeholder="Student Name" name="name">

  <label for="roll"><b>Roll</b></label> 
  <input type="text" placeholder="Roll" name="roll">
  <br>

  <label for="phone"><b>Phone Number</b></label>
  <input type="text" placeholder="11 digit phone number" name="phone">

  <!--label for="body"><b>Content</b></label>
  <textarea name="body" cols="50" rows="10"></textarea-->

  <input type="submit" value="Add" class="btn">

</form>