<head>
  <style>

    form {
      margin: 0;
      padding: 20px;
    }

    form.hide {
      display: none;
    }


    .btn-container {
      display: flex;
      justify-content: center;
    }

    .btn {
      margin: 10px;
    }
  </style>
  <script>
    function toggleForms() {
      const signInForm = document.getElementById('signInForm');
      const registerForm = document.getElementById('registerForm');

      signInForm.classList.toggle('hide');
      registerForm.classList.toggle('hide');
    }
  </script>
</head>
<body>

  <div class="container">
    <form id="signInForm" action="/admin" method="POST">
      <h3>Sign In</h3>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">
      <div class="btn-container">
        <input type="submit" value="Login" class="btn">
        <button type="button" onclick="toggleForms()" class="btn">Register</button>
      </div>
    </form>

    <form id="registerForm" action="/register" method="POST" class="hide">
      <h3>Register</h3>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">
      <div class="btn-container">
        <input type="submit" value="Register" class="btn">
        <button type="button" onclick="toggleForms()" class="btn">Sign In</button>
      </div>
    </form>
  </div>

</body>