<head>
  <style>

    form {
      margin: 0;
      padding: 20px;
    }

    form.hide {
      display: none;
    }


    .btn-container {
      display: flex;
      justify-content: center;
    }

    .btn {
      margin: 10px;
    }
  </style>
</head>
<body>

  <div class="container">
    <form id="signInForm" action="/admin" method="POST">
      <h3>Admin Log In</h3>
      <label for="username"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="username">
      <label for="password"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="password">
      <div class="btn-container">
        <input type="submit" value="Login" class="btn">
      </div>
    </form>
  </div>

</body>