<div class="searchBar">
    <div class="container">
        <form action="/search" class="search__form" role="search" method="POST">
            <input 
            type="search"
            aria-level="Search"
            class="searchInput"
            name="searchTerm"
            placeholder="Search this blog..."/>
        </form>
        <div id="searchClose">Close</div>
    </div>
</div>