
<div class="author">
    <h1 class="author__heading"><strong>ЁЭС╜ЁЭТКЁЭТХЁЭТХЁЭТК ЁЭСмЁЭТЕЁЭТЦЁЭС╗ЁЭТЖЁЭТДЁЭТЙ</strong></h1>
    <p class="author__body"><strong><i>ЁЭРД-ЁЭРЛЁЭРЮЁЭРЪЁЭРлЁЭРзЁЭРвЁЭРзЁЭРа ЁЭРПЁЭРеЁЭРЪЁЭРнЁЭРЯЁЭРиЁЭРлЁЭРж</i></strong></p>
    <p class="author__text">
        ржмрзЗрж╢рж┐ ржмрзЗрж╢рж┐ ржкрзНрж░рзНржпрж╛ржХрзНржЯрж┐рж╕ ржПржХрзНрж╕рж╛ржорзЗ ржЕржВрж╢ ржирж┐ржиред ржЬржм, ржЕрзНржпрж╛ржбржорж┐рж╢ржи рж╕рж╣ ржпрзЗржХрзЗрж╛ржи ржкрзНрж░рждрж┐ржпрзЗрж╛ржЧрж┐рждрж╛ржорзВрж▓ржХ ржкрж░рзАржХрзНрж╖рж╛рж░ ржЬржирзНржп ржирж┐ржЬрзЗржХрзЗ ржкрзНрж░рж╕рзНрждрзБржд ржХрж░рзБржиред <br>
        ржоржЬржмрзБржд ржнрж┐рждрзНрждрж┐ = ржирж┐рж╢рзНржЪрж┐ржд рж╕рж╛ржлрж▓рзНржп
    </p>
</div>

<!-- <img src="/img/tree.webp" class="window-image" alt="window" width="981" height="528"> -->

<section class="articles">
    <h2 class="articles__heading">All Exams</h2>

    <table class="article-table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Marks</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach(post => { %>
            <tr>
              <td><a href="<%= post.link %>"><%= post.title %></a></td>
              <td><%= post.marks %></td>
              <td><%= post.createdAt.toDateString() %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>
      
    
</section>
<br>
<br>
<section class="articles">
    <a class="student_btn" href="https://www.facebook.com/profile.php?id=61555416237280"><h4>ржЕрзНржпрж╛ржбржорж┐ржи ржХрзЗ ржорзЗрж╕рзЗржЬ ржжрж┐ржи</h4></a>

    <a class="student_btn" href="https://www.facebook.com/vitti123"><h4>ржлрзЗрж╕ржмрзБржХ ржкрзЗржЬ ржлрж▓рзЗрж╛ ржХрж░рзБржи</h4></a>
</section>